[submodule "Drivers/STM32F4xx_HAL_Driver"]
	path = Drivers/STM32F4xx_HAL_Driver
	url = https://github.com/STMicroelectronics/stm32f4xx_hal_driver.git
[submodule "Drivers/CMSIS_Device"]
	path = Drivers/CMSIS_Device
	url = https://github.com/STMicroelectronics/cmsis_device_f4.git
[submodule "Drivers/CMSIS_Core"]
	path = Drivers/CMSIS_Core
	url = https://github.com/ARM-software/CMSIS_5.git
